[submodule "pack/colors/opt/jellybeans"]
	path = pack/colors/opt/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
